@inherits UmbracoViewPage<FlowerNook.Core.ViewModels.Partials.NestedContent.Widgets.BannerWidgetViewModel>

@if (Model.HasValue() && Model.Items.HasValue())
{
	<div>
		@foreach(var bannerItem in Model.Items)
		{
			Html.RenderPartial(bannerItem);
		}
	</div>
}